@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

/*
catatan untuk meningkatkan skor hasil analisa pagespeed
1. bagian footer versi desktop tidak muncul ✅
2. halaman portofolio tidak terdapat padding pada versi mobile ✅
3. tambahkan link favicon untuk setiap halaman ✅
4. tambahkan width dan height pada elemen img ✅
*/

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	font-family: 'Open Sans', sans-serif;
	font-weight: normal;
}
/* === common styles === */
.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	white-space: nowrap;
	border-width: 0;
}
.layout {
	width: 100%;
	max-width: 1140px;
	margin-left: auto;
	margin-right: auto;
}
.border-debug {
	border: 1px solid red;
}
ul {
	list-style: none;
}
a {
	text-decoration: none;
}
footer {
	background-color: #5e50a1;
	padding-top: 70px;
	padding-bottom: 42px;
	padding-left: 16px;
	padding-right: 16px;
	display: none;
	color: #fff;
}
@media screen and (min-width: 768px) {
	footer {
		display: block;
	}
}
.footer-wrapper > a {
	display: inline-block;
	margin-bottom: 30px;
}
.footer-wrapper > p {
	font-size: 18px;
	color: var(--white);
	width: 380px;
	font-weight: 400;
	margin-bottom: 68px;
}
.line {
	width: 100%;
	height: 1px;
	background-color: #fff;
	margin-bottom: 30px;
}
.copyright-wrapper {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.copyright-wrapper p {
	font-size: 18px;
}
.copyright-wrapper > div {
	display: flex;
	align-items: center;
	gap: 80px;
}
