@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

/* reset */
/* end of reset */

:root {
	--purple: #5e50a1;
	--white: #fff;
	--gray: #e2e5ed;
	--yellow: #fbb017;
	--light-gray: #e2e5ed;

	--heading-color: #1f2a36;
	--text-color: #46505c;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	font-family: 'Open Sans', sans-serif;
	font-weight: normal;
}
/* === common styles === */
.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	white-space: nowrap;
	border-width: 0;
}
.layout {
	width: 90%;
	max-width: 1140px;
	margin-left: auto;
	margin-right: auto;
}
.border-debug {
	border: 1px solid red;
}
button {
	font-family: 'Open Sans', sans-serif;
	font-size: var(--size);
	color: var(--color);
	background-color: var(--bg-color);
	font-weight: 700;
	border: 1px solid var(--purple);
	border-radius: 4px;
	cursor: pointer;
}
/* === end of common styles === */

/* === landing page === */
header {
	margin-top: 45px;
}
header > div {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.buttons-wrapper {
	display: flex;
	align-items: center;
	gap: 16px;
}
button[data-size='sm'] {
	--size: 14px;
	padding: 10px 20px;
}
button[data-size='base'] {
	--size: 16px;
	padding: 16px 24px;
}
button[data-variant='ghost'] {
	--color: var(--purple);
	--bg-color: var(--white);
}
button[data-variant='purple'] {
	--color: var(--white);
	--bg-color: var(--purple);
}
/* hero */
#hero {
	margin-top: 140px;
}
.hero-wrapper {
	display: flex;
	align-items: center;
	gap: 67px;
}
.hero-wrapper > div {
	width: 50%;
}
.hero-title {
	font-size: 44px;
	font-weight: 600;
	color: var(--heading-color);
	line-height: 70px;
}
.hero-content {
	font-size: 18px;
	line-height: 28px;
	font-weight: 400;
	color: var(--text-color);
}
.hero-title:has(~ .hero-content) {
	margin-bottom: 20px;
}
.hero-content:has(~ button) {
	margin-bottom: 55px;
}
.hero-image-wrapper {
	position: relative;
	width: 500px;
	height: 500px;
}
.hero-image-wrapper > img {
	width: 100%;
	height: 100%;
	z-index: 10;
}
div[data-box-color='gray'],
div[data-box-color='purple'],
div[data-box-color='yellow'],
div[data-box-color='circle-pattern'] {
	position: absolute;
}
div[data-box-color='gray'] {
	background-color: var(--gray);
	z-index: -1;
}
div[data-box-color='purple'] {
	background-color: var(--purple);
}
div[data-box-color='yellow'] {
	background-color: var(--yellow);
}
div[data-box-size='500'] {
	width: 500px;
	aspect-ratio: 1/1;
}
div[data-box-size='496'] {
	width: 496px;
	height: 390px;
}
div[data-box-size='118'] {
	width: 118px;
	aspect-ratio: 1/1;
}
div[data-box-size='90'] {
	width: 90px;
	aspect-ratio: 1/1;
}
div[data-box-size='46'] {
	width: 46px;
	aspect-ratio: 1/1;
}
/* hero's ornament position = bottom left */
div[data-position='bottom-left'] > div[data-box-color='gray'] {
	transform: rotate(-15deg);
}
div[data-position='bottom-left'] > div[data-box-color='purple'] {
	bottom: -28px;
	left: -38px;
}
div[data-position='bottom-left'] > div[data-box-color='yellow'] {
	bottom: -46px;
	left: 46px;
}
div[data-position='bottom-left'] > div[data-box-color='circle-pattern'] {
	bottom: 40px;
	left: 30px;
}
/* end of hero */

/* advantages */
#advantages {
	margin-top: 160px;
}
.advantages-wrapper {
	display: flex;
	align-items: flex-start;
	gap: 60px;
}
.advantages-wrapper > div {
	width: 50%;
}
.advantages-image-wrapper {
	position: relative;
	width: 496px;
	height: 390px;
}
.advantages-image-wrapper > img {
	width: 100%;
	height: 100%;
	z-index: 10;
}
/* advantages's oranment position = top left */
div[data-position='top-left'] > div[data-box-color='gray'] {
	transform: rotate(15deg);
}
div[data-position='top-left'] > div[data-box-color='purple'] {
	top: -36px;
	left: -36px;
}
div[data-position='top-left'] > div[data-box-color='circle-pattern'] {
	bottom: -15px;
	left: -30px;
	transform: rotate(90deg);
}
.advantages-title {
	font-size: 36px;
	font-weight: 600;
	color: var(--heading-color);
}
.advantages-list {
	margin-top: 34px;
	list-style: none;
}
.advantages-list > li {
	display: flex;
	align-items: center;
	gap: 24px;
	color: var(--text-color);
}
.advantages-list > li:not(:last-child) {
	margin-bottom: 28px;
}
/* end of advantages */

/* skill talent */
#skill-talent {
	margin-top: 160px;
}
.skill-wrapper {
	display: flex;
	align-items: flex-start;
	gap: 60px;
}
.skill-wrapper > div {
	width: 50%;
}
.skill-title {
	margin-bottom: 12px;
	color: var(--heading-color);
	font-size: 36px;
}
.skill-content {
	margin-bottom: 30px;
	color: var(--text-color);
}
.skill-list {
	list-style: none;
	display: grid;
	grid-template-columns: 1fr 1fr;
	row-gap: 16px;
	color: var(--text-color);
}
.skill-list > li {
	display: flex;
	align-items: center;
	gap: 28px;
}
.skill-image-wrapper {
	position: relative;
	width: 496px;
	height: 390px;
}
.advantages-image-wrapper > img {
	width: 100%;
	height: 100%;
	z-index: 10;
}
/* advantages's oranment position = top left */
div[data-position='bottom-right'] > div[data-box-color='gray'] {
	transform: rotate(-15deg);
}
div[data-position='bottom-right'] > div[data-box-color='yellow'] {
	top: -36px;
	right: -36px;
}
div[data-position='bottom-right'] > div[data-box-color='circle-pattern'] {
	bottom: -30px;
	right: 30px;
	transform: rotate(90deg);
}
/* end of skill talent */

/* testimony */
#testimony {
	margin-top: 160px;
	background-color: #fafbfc;
	padding-top: 60px;
	padding-bottom: 60px;
}
.testimony-title {
	text-align: center;
	color: var(--heading-color);
	font-size: 36px;
	font-weight: 600;
	margin-bottom: 52px;
}
.testimony-wrapper {
	position: relative;
}
button[data-testomony-control='prev'],
button[data-testomony-control='next'] {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	background-color: var(--purple);
	width: 50px;
	height: 50px;
	border-radius: 50px;
	display: inline-flex;
	justify-content: center;
	align-items: center;
}
button[data-testomony-control='prev'] {
	left: -25px;
}
button[data-testomony-control='next'] {
	right: -25px;
}
.testimony-list {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 28px;
	list-style: none;
	text-align: center;
}
.testimony-item {
	background-color: var(--white);
	box-shadow: 0px 8px 16px 0px #c5c5c540;
	padding-top: 26px;
	padding-bottom: 36px;
	padding-left: 52px;
	padding-right: 52px;
}
.testimony-avatar {
	width: 140px;
	aspect-ratio: 1;
	margin-left: auto;
	margin-right: auto;
	background-color: var(--yellow);
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 100%;
	background: #fbb0175e;
	margin-bottom: 16px;
}
.testimony-avatar > img {
	width: 120px;
	aspect-ratio: 1;
}
.testimony-name {
	font-size: 30px;
	color: var(--heading-color);
	font-weight: 600;
	margin-bottom: 12px;
}
.testimony-job {
	font-size: 18px;
	color: #9ea0a5;
	margin-bottom: 12px;
}
.testimony-desc {
	font-size: 18px;
	color: var(--text-color);
}
/* end of testimony */
/* cta-get-started */
#cta-get-started {
	margin-top: 120px;
	margin-bottom: 120px;
}
.get-started-wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 58px 68px;
	background-color: var(--purple);
	border-top-left-radius: 40px;
	border-top-right-radius: 8px;
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 40px;
	background-image: url('assets/wave-pattern.svg');
	background-repeat: no-repeat;
	background-position: bottom left;
}
.get-started-wrapper > h2 {
	color: var(--white);
	font-size: 36px;
	font-weight: 600;
	width: 300px;
}
/* end of cta-get-started */

/* footer */
footer {
	background-color: var(--purple);
	padding-top: 70px;
	padding-bottom: 42px;
}
.footer-wrapper > a {
	display: inline-block;
	margin-bottom: 30px;
}
.footer-wrapper > p {
	font-size: 18px;
	color: var(--white);
	width: 380px;
	font-weight: 400;
	margin-bottom: 68px;
}
.line {
	width: 100%;
	height: 1px;
	background-color: var(--white);
	margin-bottom: 30px;
}
.copyright-wrapper {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.copyright-wrapper p {
	font-size: 18px;
	color: var(--white);
}
.copyright-wrapper > div {
	display: flex;
	align-items: center;
	gap: 80px;
}
/* end of footer */
/* === end of landing page === */
